/* .form-control {
    width: 5%;
    display: inline;
} */

body{
    /* text-align: center; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
#contenu{
    width: 80vw;
}
#result{
    padding: 5px;
    border-radius: 5px;
    width: 80%;
}
.cent{
    width: 100vw;
}
strong{
    color: #fff;
}